# Ignorar ambientes virtuais
venv/
venv_*/
env/
.venv/

# Ignorar dependências
Lib/
Scripts/
Include/
*.egg-info/

# Ignorar dados
*.csv
*.pkl
*.h5
data/
datasets/

# Ignorar cache
__pycache__/
*.pyc
*.pyo